<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/imagenes/logo.png}">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">IPAS</title>
    <link rel="stylesheet" th:href="@{/css/fragmentos/alertas.css}">
    <link rel="stylesheet" th:href="@{/css/plantillas/tema.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <!-- Aquí cada vista puede inyectar su propio CSS -->
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div th:replace="~{fragmentos/alertas :: alertas(${alertaRespuesta})}"></div>

<!-- Aquí se inyecta el contenido de cada vista -->
<th:block layout:fragment="contenido"></th:block>

<!-- JS global -->
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/fragmentos/animacionAlertas.js}"></script>
<!-- Aquí cada vista puede inyectar su propio JS -->
<th:block layout:fragment="js"></th:block>
</body>
</html>