<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragmentos/alertas :: alertas(${alertaRespuesta})}"></div>

<div class="container mt-5">

    <h1>Gestión de polizas</h1>

    <a th:href="@{/asesor/cargar-pdf-poliza}"
       class="btn btn-success">
        Generar poliza IA
    </a>

    <!-- Información de paginación -->
    <div class="alert alert-info">
        Mostrando
        <strong th:text="${polizas.size()}"></strong> de
        <strong th:text="${totalRegistros}"></strong> polizas
    </div>


    <!-- Tabla de clientes -->
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Prima Neta</th>
            <th>Prima Total</th>
            <th>Estado</th>
            <th>Estado Pago</th>
            <th>Placa</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Si no hay clientes -->
        <tr th:if="${polizas.isEmpty()}">
            <td colspan="7" class="text-center">
                No se encontraron polizas
            </td>
        </tr>

        <!-- Iteración sobre clientes -->
        <tr th:each="poliza : ${polizas}">
            <td th:text="${poliza.idPoliza}"></td>
            <td th:text="${poliza.codigoPoliza}"></td>
            <td th:text="${poliza.fechaInicio}"></td>
            <td th:text="${poliza.fechaFin}"></td>
            <td th:text="${poliza.primaNeta}"></td>
            <td th:text="${poliza.primaTotal}"></td>
            <td th:text="${poliza.estado}"></td>
            <td th:text="${poliza.estadoPago}"></td>
            <td th:text="${poliza.placa}"></td>
            <td th:text="${poliza.descripcion}"></td>

            <td>
                <a th:href="@{/asesor/actualizacion-poliza/{idPoliza}(idPoliza=${poliza.idPoliza})}"
                   class="btn btn-sm btn-warning">Actualizar poliza</a>
                <a th:href="@{/asesor/ver-archivo/{nombre}(nombre=${poliza.numeroPdf})}"
                   target="_blank"
                   class="btn btn-sm btn-warning">Ver PDF</a>

            </td>
        </tr>
        </tbody>
    </table>


    <!-- Paginación -->
    <nav th:if="${totalPaginas > 1}">
        <ul class="pagination justify-content-center">
            <!-- Botón anterior -->
            <li class="page-item"
                th:classappend="${paginaActual == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/asesor/ver-polizas(pagina=${paginaActual - 1}, cantidad=${catidadPagina} )}">
                    Anterior
                </a>
            </li>

            <!-- Números de página -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, totalPaginas - 1)}"
                th:classappend="${i == paginaActual} ? 'active'">
                <a class="page-link"
                   th:href="@{/asesor/ver-polizas(pagina=${i}, cantidad=${catidadPagina} )}"
                   th:text="${i + 1}"></a>
            </li>

            <!-- Botón siguiente -->
            <li class="page-item"
                th:classappend="${paginaActual == totalPaginas - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/asesor/ver-polizas(pagina=${paginaActual + 1}, cantidad=${catidadPagina} )}">
                    Siguiente
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>